<title>Get Started! Win Huge Prizes</title>
<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

<div class="background">
  <div class="title">
      Enter Contest
  </div>
  <div style="height:20px"></div>
  <div class="instructions">With 3 easy steps!</div>

  <div style="height:70px"></div>
  <div class="step">Step 1</div>
  <div class="instructions">Signup for LastFM</div>
  <div style="height:20px"></div>
  <a class="link" target="_blank" rel="noopener noreferrer" href="https://www.last.fm/join">SIGNUP
  </a>

  <div style="height:70px"></div>
  <div class="step">Step 2</div>
  <div class="instructions">Open LastFM and click your profile in the top right -> Settings -> Applications -> Connect Spotify Scrobbling</div>
  <div style="height:15px"></div>
  <video width="50%" height="auto" autoplay loop>
  <source src="https://i.imgur.com/cUgWim1.mp4" type="video/webm">
  <a href="https://i.imgur.com/cUgWim1.mp4">see how here</a>
</video>



<div style="height:70px"></div>
  <div class="step">Step 3</div>
    <a style="margin-bottom: 12%" href="https://www.last.fm/api/auth/?api_key=ea81e6917706f4b0bc0da79e2e034591&cb=https://www.tritone.club/auth/lastfm/callback" class="btn red darken-1">
        <i class="fab left"></i> Log In With LastFM
    </a>
    {{!-- <form action="/get-started" method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="username" name="username">
                <label for="username">Username</label>
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Save" class="btn">
        </div>
    </form> --}}

