<h3 style="font-family: Palette Mosaic;">Sueco's Paralyzed Giveaway</h3>
<div class="section">
    <img class="c-logo" src="https://i.ibb.co/60STw80/maxresdefault.jpg" style="width: 50%" draggable="false" />
    <p class="lead">Prizes Include:</p>
    <p class="lead">3x Gaming PC's</p>
    <p class="lead">3x PS5's</p>
    <p class="lead">2x $300 StockX Giftcards</p>
    <p class="lead">2x Razer Keyboards</p>
    <p class="lead">Exclusive Attempted Lover Merch</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/discord" class="btn red darken-1">
        <i class="fab left"></i> Enter Contest
    </a>
</div>